.c1{
    padding-top: 15px;
    padding-bottom: 15px;

}

.hd1{
    color: rgb(255, 161, 107);
    font-family: "Times New Roman", Times, serif;
}

.c2{
    color: rgb(44, 131, 87);
    background-color: aliceblue;
    border-style: groove;
    border-width: 3px;
    border-color: aquamarine;
    border-radius: 8px;
    
}
.f1{
    padding-top: 10px;
}

.f2{
    margin-bottom: 10px;
}
.t1{
    background-color: rgba(248, 240, 229, 0.932);
    border-style: groove;
    border-width: 2px;
    border-color: aquamarine;
    color: rgb(4, 116, 116);

}

.tl1{
    color: rgb(174, 243, 234);
    font-family: Arial, Helvetica, sans-serif;
}

.btun1{
    margin-right: 10px;
}

